.btn--primary {
    align-items: center;
    background-color: var(--clr-brand-primary);
    border-radius: 50px;
    color: #fff;
    display: flex;
    filter: brightness(1);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.21;
    padding: 12px 32px;
    transition: filter 0.25s ease-in-out;

    &:hover {
        filter: brightness(1.2);
        transition: filter 0.25s ease-in-out;
    }
}
