@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-text-default: #808080;
    --clr-text-dark: #000;
    --clr-brand-primary: #50008f;
    --clr-bg-hero: #ddf2ef;
}

body {
    color: var(--clr-text-default);
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
    line-height: 1.255;
}

.container {
    margin: 0 auto;
    max-width: 1226px;
    padding: 0 16px;
    width: 100%;

    @include media(min, 768) {
        padding: 0 24px;
    }
}

li {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    outline: none;
}

img {
    width: 100%;
}

.icon {
    --size: 24px;

    align-items: center;
    color: inherit;
    display: flex;
    height: var(--size);
    justify-content: center;
    max-width: var(--size);
    min-width: var(--size);
    width: 100%;

    svg {
        fill: currentColor;
        height: 100%;
        width: 100%;
    }
}

.bg-hero {
    background-color: var(--clr-bg-hero);
}
