.features {
    align-items: center;
    display: flex;
    gap: 110px;
    margin: 96px 0;

    &--img {
        line-height: 1;
    }

    &--title {
        font-size: 3.2rem;
        font-weight: 800;
        line-height: inherit;
        margin-bottom: 12px;
    }

    &--desc {
        color: var(--clr-text-default);
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 12px;
        max-width: 42ch;
    }

    &--list {
        margin: 16px 0;

        li {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6.962 10.967 2.002 2.01 4.013-4.02' stroke='%2350008F' stroke-width='1.495' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.931 3.032c.574-.49 1.512-.49 2.094 0l1.313 1.13c.249.216.714.39 1.046.39h1.413c.88 0 1.603.724 1.603 1.604V7.57c0 .324.175.797.39 1.047l1.13 1.312c.49.573.49 1.512 0 2.094l-1.13 1.313c-.215.249-.39.714-.39 1.046v1.413a1.61 1.61 0 0 1-1.603 1.603h-1.413c-.324 0-.797.175-1.046.39l-1.313 1.13c-.573.49-1.512.49-2.094 0l-1.312-1.13a1.841 1.841 0 0 0-1.047-.39H5.134a1.61 1.61 0 0 1-1.603-1.603v-1.42c0-.325-.175-.79-.382-1.04l-1.122-1.32c-.482-.574-.482-1.504 0-2.077L3.15 8.616c.207-.25.382-.715.382-1.039V6.148c0-.88.723-1.603 1.603-1.603h1.438c.324 0 .797-.175 1.047-.39L8.93 3.031Z' stroke='%2350008F' stroke-width='1.495' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            background-position: center left;
            background-repeat: no-repeat;
            background-size: 16px;
            color: var(--clr-text-default);
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1;
            padding: 12px 0 12px 24px;
        }

        &.dont {
            li {
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.958 2.042c.584-.492 1.525-.492 2.092 0l1.317 1.125c.25.208.725.383 1.058.383h1.417c.883 0 1.608.725 1.608 1.608v1.417c0 .333.175.8.383 1.05l1.125 1.317c.492.583.492 1.525 0 2.091l-1.125 1.317c-.208.25-.383.717-.383 1.05v1.417c0 .883-.725 1.608-1.608 1.608h-1.417c-.333 0-.8.175-1.05.383l-1.317 1.125c-.583.492-1.525.492-2.091 0L7.65 16.808c-.25-.208-.725-.383-1.05-.383H5.142a1.615 1.615 0 0 1-1.609-1.608v-1.425c0-.325-.166-.8-.375-1.042l-1.125-1.325c-.483-.575-.483-1.508 0-2.083l1.125-1.325c.209-.25.375-.717.375-1.042V5.167c0-.884.725-1.609 1.609-1.609h1.441c.334 0 .8-.175 1.05-.383l1.325-1.133ZM10 6.775V10.8' stroke='%2350008F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.995 13.333h.008' stroke='%2350008F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }
        }
    }
}

.badges {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.badge {
    align-items: center;
    display: flex;
    gap: 22px;

    i {
        --size: 72px;
    }

    &--content {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        font-weight: 600;
        line-height: inherit;

        .title {
            color: var(--clr-brand-primary);
        }
    }
}
