.section--stats {
    padding: 64px 0;
}

.stats {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin-top: 64px;

    @include media(min, 768) {
        margin-top: 90px;
    }

    @include media(min, 1280) {
        padding: 0 96px;
    }
}

.stat {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;

    @include media(min, 768) {
        flex-basis: 25%;
    }

    i {
        --size: 50px;
    }

    &--data {
        color: var(--clr-text-dark);
        font-size: 35px;
        font-weight: 800;
        line-height: inherit;
        margin-top: 12px;
    }

    &--text {
        color: var(--clr-text-default);
        font-size: 12px;
        font-weight: 800;
        margin-top: 8px;
    }
}
