.section--news {
    padding: 64px 0;

    @include media(min, 768) {
        padding: 96px 0;
    }
}

.news--list {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 0;
    justify-content: space-between;
    margin-top: 72px;
}

.news {
    display: flex;
    flex-direction: column;
    max-width: 374px;

    @include media(min, 768) {
        flex-basis: 48%;
    }

    @include media(min, 1024) {
        flex-basis: 30%;
    }

    @include media(min, 1300) {
        flex-basis: 32%;
    }

    &--media {
        line-height: 0;
        width: 100%;
    }

    &--content {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 48px 0 26px;
        position: relative;

        @include media(min, 1320) {
            padding: 48px 28px 26px;
        }
    }

    &--meta {
        align-items: center;
        display: flex;
        gap: 24px;
        margin-bottom: 12px;

        @include media(min, 1320) {
            gap: 36px;
        }
    }

    &--title {
        color: var(--clr-brand-primary);
        font-size: 18px;
        font-weight: 800;
        text-align: center;
    }

    &--date {
        background-color: var(--clr-brand-primary);
        color: #fff;
        left: 50%;
        padding: 14px 32px;
        position: absolute;
        top: -24px;
        transform: translateX(-50%);
        white-space: nowrap;
    }
}

.meta {
    align-items: center;
    display: flex;
    gap: 12px;

    i {
        --size: 20px;
    }

    .text {
        font-weight: 800;
    }
}
