.section--hero {
    // background-color: var(--clr-bg-hero);
    overflow: hidden;

    @include media(min, 768) {
        border-radius: 0 0 300px;
    }
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 20px 0;

    @include media(min, 1024) {
        margin-bottom: 64px;
    }
}

.site--logo {
    color: var(--clr-text-dark);
    font-size: 3rem;
    font-weight: 700;
    line-height: inherit;
    z-index: 2;
}

.menu {
    align-items: center;
    display: none;
    gap: 20px;

    @include media(min, 769) {
        display: flex;
    }

    &--link {
        border-bottom: 2px solid transparent;
        color: var(--clr-text-dark);
        display: inline-block;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: inherit;
        transition: border-color 0.25s ease-in-out;

        &:hover {
            border-bottom-color: var(--clr-text-dark);
            transition: border-color 0.25s ease-in-out;
        }
    }
}

.hero {
    &--content {
        display: flex;

        @include media(max, 1023) {
            flex-direction: column;
            gap: 40px;
        }
    }

    &--details {
        width: 100%;
    }

    &--subtitle {
        color: var(--clr-brand-primary);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: inherit;
    }

    &--title {
        color: var(--clr-brand-primary);
        font-size: 4.8rem;
        font-weight: 800;
        line-height: inherit;
        margin-top: 4px;
    }

    &--desc {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.6;
        margin-top: 10px;
        max-width: 72ch;
    }

    &--cta {
        margin-top: 25px;

        @include media(min, 1024) {
            margin-bottom: 135px;
        }
    }

    &--img {
        align-self: center;
        line-height: 1;
        max-width: 560px;
        width: 100%;

        @include media(min, 1024) {
            align-self: flex-end;
        }
    }
}
