.section--news {
    padding: 96px 0;
}

.news--list {
    align-items: flex-start;
    display: flex;
    gap: 30px;
    margin-top: 72px;
}

.news {
    display: flex;
    flex-direction: column;

    &--media {
        line-height: 0;
        max-width: 374px;
        width: 100%;
    }

    &--content {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 48px 28px 26px;
        position: relative;
    }

    &--meta {
        align-items: center;
        display: flex;
        gap: 36px;
        margin-bottom: 12px;
    }

    &--title {
        color: var(--clr-brand-primary);
        font-size: 18px;
        font-weight: 800;
        text-align: center;
    }

    &--date {
        background-color: var(--clr-brand-primary);
        color: #fff;
        left: 50%;
        padding: 14px 32px;
        position: absolute;
        top: -24px;
        transform: translateX(-50%);
    }
}

.meta {
    align-items: center;
    display: flex;
    gap: 12px;

    i {
        --size: 20px;
    }

    .text {
        font-weight: 800;
    }
}
